body {
    width:100%;
    height:500px;
    background:url("Imagenes/Logo.png");
    background-size:100%;
    animation:movimiento 15s infinite linear alternate;
    background-repeat:no-repeat;
    
}
@keyframes movimiento{

    from{

        background-position:bottom left;
    }
    to{

        background-position:top right;

 
    }
}
primero {
    margin-bottom:500px;
    margin-left:800px;
    margin-right:500px;
}
.h3{
    
    margin-left:200px;
}
form {
    position: absolute;
    top: 17%;
    left: 37%;
    width: 20%;
    border: 5px solid #16A603;
    margin: 5px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    opacity: 1;
    background-color: lightgreen;
}
.label {
    display: block;
    font-weight: bold;
    font-family: Calibri;
    font-size:20px;
}
.boton {
    margin-bottom: 15px;
    width: 100%;
    border: 2px solid #F82C02;
    border-radius: 5px;

}
.a {
    border: 2px solid #F82C02;
    border-radius: 5px;
   margin-right:70px;
   transition:all 500ms;
   margin-bottom:40px;

}

.b {
   padding-top:200px;
   
}

.c {
   margin-left:200px;
   text-align: center;
}
  
