@{
    ViewBag.Title = "Contact";
}
<body style="background-color:lightskyblue">
    <h2>Programadores</h2>
    <table class="table">
        <tr>
            <th>Juan Sebastian Gaviria</th>
            <th>Brayan Stick Mosocoso</th>
            <th>Alfredo Silva Morato</th>
            <th>Angie Gabriela Cardona</th>

        </tr>
        <tr>
            <td><img src="~/Imagenes/icono.png" / width="160px" height="150px"></td>
            <td><img src="~/Imagenes/icono.png" / width="160px" height="150px"></td>
            <td><img src="~/Imagenes/icono.png" / width="160px" height="150px"></td>
            <td><img src="~/Imagenes/icono.png" / width="160px" height="150px"></td>
        </tr>

        <tr>
            <td><address> <strong>Correo de contacto:</strong>   <a href="mailto:Support@example.com">Jsgavira873@gmail.com</a><br /></address></td>

            <td> <strong>Correo de contacto:</strong>   <a href="mailto:Support@example.com">bsmiscoso@misena.educo</a><br /></td>

            <td> <strong>Correo de contacto:</strong>   <a href="mailto:Support@example.com">asilva548@misena.edu.co </a><br /></td>
            <td> <strong>Correo de contacto:</strong>   <a href="mailto:Support@example.com">agcardona3@misena.edu.co </a><br /></td>
        </tr>



    </table>

</body>
@Html.ActionLink("Pagina Principal", "Index", "Home")
@*
    <h3>@ViewBag.Message</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
*@